.flex-center {
  display: flex;
  justify-content: center;
}

.arrow-mixin {
  margin-top: 7.5px;
  margin-left: 6.5px;
  position: absolute;
  content: '';
}

.block-watch {
  @extend .flex-center;
  margin-top: 100px;

  .simple-watch {
      @extend .flex-center;

      align-items: center;
      border-radius: 50%;
      border: 3px solid black;
      width: 300px;
      height: 300px;

      &__center {
        background-color: black;
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }

      &__red, &__orange, &__green, &__yellow, &__lightblue, &__blue, &__purple {
        width: 4px;
        height: 300px;
        position: absolute;
        cursor: pointer;
      }

      &__red {
        background-color: red;
      }

      &__yellow {
        background-color: yellow;
      }

      &__orange {
        background-color: orange;
      }

      &__green {
        background-color: green;
      }

      &__lightblue {
        background-color: lightblue;
      }

      &__blue {
        background-color: blue;
      }

      &__purple {
        background-color: purple;
      }
  }
}

.watch {
  @extend .flex-center;

  align-items: center;
  border-radius: 50%;
  border: 3px solid black;
  width: 300px;
  height: 300px;

  &__arrow {
      background-color: black;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      position: absolute;

      &.seconds {
        &::after {
          @extend .arrow-mixin;
          height: 120px;
          border: 1px solid black;
          border-radius: 2px;
        }
      }

      &.minutes {
        &::after {
          @extend .arrow-mixin;
          height: 100px;
          border: 2px solid black;
          border-radius: 4px;
        }

      }

      &.hours {
        &::after {
          @extend .arrow-mixin;
          margin-left: 5.5px;
          height: 75px;
          border: 3px solid black;
          border-radius: 4px;
        }
      }
    }
}