$button-color: yellowgreen;
$time-button-color: #ffcd13;

.buttons-style {
  width: 150px;
  height: 45px;
  font-size: 21px;
  border-radius: 5px;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.header-with-clock {
    @extend .flex-center;
    flex-direction: row;


    .page-header {
      text-align: center;
      font-size: 45px;
    }

    .time-display {
      display: flex;
      align-items: center;
      font-size: 20px;
      position: absolute;
      right: 100px;
      width: 160px;
    }
}

main {
  @extend .flex-center;
  flex-direction: column;

  .counter {
    text-align: center;
    padding-bottom: 20px;
    font-size: 30px;
  }
}

.buttons-block {
  display: flex;
  justify-content: space-between;
  padding: 0 20% 0 20%;

  button {
    @extend .buttons-style;
    background-color: $button-color;
    border: 2px solid green;

    &:hover {
      background-color: lighten($button-color, 15%);
    }
  }
}

.block-counter {
  @extend .flex-center;
  margin-bottom: 25px;

  .time-button {
      @extend .buttons-style;
      background-color: $time-button-color;
      border: 2px solid #ffb41e;
      margin-left: 200px;
      &:hover {
        background-color: lighten($time-button-color, 15%);
      }
  }
}

.block-watch {
  @extend .flex-center;
  margin-top: 50px;

  .simple-watch {
      @extend .flex-center;

      align-items: center;
      border-radius: 50%;
      border: 3px solid deepskyblue;
      width: 170px;
      height: 170px;

      &__center {
        background-color: deepskyblue;
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }

      &__seconds, &__minutes, &__hours {
        width: 2px;
        height: calc(170px);
        position: absolute;
      }

      &__seconds {
        background-color: darken(deepskyblue, 15%);
      }

      &__minutes {
        background-color: green;
      }

      &__hours {
        background-color: yellow;
      }
  }
}
